---
layout: page
title: Personal Projects
subtitle: Fun stuff!
use-site-title: true
---
<link rel="stylesheet" href=""{{ "/css/bootstrap-cards.scss" | relative_url }}">

<div class="card-columns">
    {% for post in site.categories.projects %}
    <div class="card">
        <img src="{{ post.image | relative_url }}" class="card-img-top" alt="...">

        <h2 class="post-title">{{ post.title }}</h2>

        {% if post.authors %}
        <h3 class="research-authors">
            {{ post.authors }}
        </h3>
        {% endif %}

        <h3 class="research-journal">
            {% if post.journal %}
                {{ post.journal }}
            {% endif %}
            {% if post.year %}
                <b> {{ post.year }} </b>
            {% endif %}
        </h3>

        <div class="research-abstract"> {{ post.content }} </div>

    </div>
    {% endfor %}
</div>

