---
layout: page
title: Personal Projects
subtitle: Sometimes I make silly mechanical contraptions
use-site-title: true
---

<div class="masonry">
    {% for post in site.categories.projects %}
    <a href="{{ post.url | relative_url }}">
    <div class="brick">
        <img src="{{ post.image | relative_url }}" class="brick-img" alt="...">

        <div class="brick-summary">
            <h3 class="post-title">{{ post.title }}</h3>

            {% if post.authors %}
            <h3 class="project-authors">
                {{ post.authors }}
            </h3>
            {% endif %}

            <h3 class="research-journal">
                {% if post.journal %}
                    {{ post.journal }}
                {% endif %}
                {% if post.year %}
                    <b> {{ post.year }} </b>
                {% endif %}
            </h3>

        </div>

    </div>
    </a>
    {% endfor %}
</div>

